<div class="panel centered core" ng-controller="ListDetailCtrl">
  <!-- Potentially place back button here too !-->
  <h2>{{heading}}</h2>
  <div class="gridStyle" ui-grid="{data: listData, columnDefs: columns}"></div>
</div>


